* { padding: 0; margin: 0; }

a {
  text-decoration: none;
  color: inherit;
}

a.hover-and-underline:hover {
text-decoration: underline!important;
}

body{
  font-family: 'Kanit', sans-serif;
  color: #fff;
  background: #1C1D1E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  color: #fff;
  font-weight: 200;
}

.hero_logo {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

header {
  padding: 5%;
  display: block;
}

header .logo {
  display: inline-block;
  width: 25%;
}

header .logo h3 {
  margin-top: -10px;
  text-align: left;
}

header .logo .hero_logo {
  display: block;
  margin-left: -25px;
  height: 120px;
  width: 220px;
}

header .hero_text {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-top: 20px;
}

header .hero_text h1 {
  text-align: center;
}

header .hero_social {
  margin-top: 30px;
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

header .hero_social .social_item {
  display: inline-block;
  margin: 10px;
  width: 80px;
}

header .social_item h3{
  text-align: center;
  font-weight: 300;
}

header .facebook_icon {
  display: inline-block;
  width: 80px;
  height: 50px;
  background-color: red;
  text-align: center;
  background: url(../img/facebook_white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header .facebook_icon:hover {
  background: url(../img/facebook_blue.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header .messenger_icon {
  display: inline-block;
  width: 80px;
  height: 50px;
  text-align: center;
  background: url(../img/messenger_white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header .messenger_icon:hover {
  background: url(../img/messenger_blue.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category {
  background-color: #101111;
  min-height: 350px;
  padding: 2% 5%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/* Background Image */

.box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.doctors {
  background-image:url('../img/doctors.jpg');
}

section.arch {
  background-image:url('../img/arch.jpg');
}

section.arts {
  background-image:url('../img/arts.jpg');
}

section.tech {
  background-image:url('../img/tech.jpg');
}

section.travel {
  background-image:url('../img/travel.jpg');
}

section.moneies {
  background-image:url('../img/moneies.jpg');
}

/* career Image */

.doctor {
    background-image:url('../img/doctor.jpg');
}

.vet {
    background-image:url('../img/vet.jpg');
}

.interior {
    background-image:url('../img/interior.jpg');
}

.pilot {
    background-image:url('../img/pilot.jpg');
}

.psychologist {
    background-image:url('../img/psychologist.jpg');
}

.dentist {
    background-image:url('../img/dentist.jpg');
}

.it {
    background-image:url('../img/it.jpg');
}

.architecture {
    background-image:url('../img/architecture.jpg');
}

.creative {
    background-image:url('../img/creative.jpg');
}

.infographic {
    background-image:url('../img/infographic.jpg');
}

.graphic {
    background-image:url('../img/graphic.jpg');
}

.motion {
    background-image:url('../img/motion.jpg');
}

.storyboard {
    background-image:url('../img/storyboard.jpg');
}

.digitalcontent {
    background-image:url('../img/digitalcontent.jpg');
}

.communicate {
    background-image:url('../img/communicate.jpg');
}

.webdesign {
    background-image:url('../img/webdesign.jpg');
}

.engineer {
    background-image:url('../img/engineer.jpg');
}

.travelagency {
    background-image:url('../img/travelagency.jpg');
}

.hotel {
    background-image:url('../img/hotel.jpg');
}

.money {
    background-image:url('../img/money.jpg');
}

.accountant {
    background-image:url('../img/accountant.jpg');
}

.marketing {
    background-image:url('../img/marketing.jpg');
}

.branding {
    background-image:url('../img/branding.jpg');
}

.cafe {
    background-image:url('../img/cafe.jpg');
}

.category h4 {
  font-size: 23px;
  font-weight: 300;
}

section .box_containter {
  margin-top: 20px;
}

section .box {
  margin-top: 20px;
  display: inline-block;
  margin-right: 1%;
  width: 31.31%;
  height: 210px;
  background-color: #1C1D1E;
  transition: ease-in 0.1s;
  transform: scale(1.00);
  max-width: 370px;
  min-width: 300px;
}

section .box:hover {
  transform: scale(1.1);
  transition: ease-in 0.1s;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.53);
}

section .box h1 {
  text-align: center;
  margin-top: 80px;
  font-size: 33px;
  font-weight: 300;
}

section .box p {
  margin-top: -5px;
  text-align: center;
  font-size: 16px;
  color:#666;
  font-weight: 300;
}


section .box h1.dark , section .box p.dark {
  color: #fff;
}

section .box h1.light  {
  color: #333;
}

section .box p.light {
  color: #666;
}

footer {
  text-align: center;
  color: #fafafa;
  padding: 30px 0 30px 0;
}


@media screen and (max-width:800px) {

  header .logo {
    width: 100%;
  }

  header .logo .hero_logo {
    text-align: center;
    height: 60px;
    width: 100%;
    margin: 0;
    background-position: center center;
    background-size: contain;
  }

  header .logo h3 {
    font-size: 10px;
    margin-top: -4px;
    text-align: center;
  }

  header .hero_text {
    display: block;
    width: 100%;
  }

  header .hero_social {
    display: block;
    width: 100%;
    text-align: center;
  }

  header .hero_social .social_item {

  }

  header .facebook_icon ,   header .messenger_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
  }

  .category h4 {
    margin-top: 30px;
  }

  .category {
    padding-bottom: 30px;
  }

  section .box {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    height: 210px;
  }

  section .box h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 29px;
    font-weight: 300;
  }

  .hero_text h1 {
    font-size: 27px;
  }

  .hero_social h3{
    font-size: 15px;
  }

  footer {
    font-size: 13px;
  }

}
